#  some packages needed to reproduce the experiments (Pynthon 3.7)
CVXcanon==0.1.1
Cython==0.29.5
Pillow==9.1.0
cvxpy==1.0.21
cycler==0.11.0
dill==0.3.4
ecos==2.0.5
fastcache==1.1.0
imbalanced-learn==0.4.3
imblearn==0.0
joblib==0.13.2
kiwisolver==1.4.2
matplotlib==3.3.0
multiprocess==0.70.5
numpy==1.16.2
osqp==0.6.2.post5
pandas==0.24.1
pyparsing==3.0.8
python-dateutil==2.8.2
pytz==2022.1
qdldl==0.1.5.post2
quadprog==0.1.6
scikit-learn==0.20.2
scipy==1.2.1
scs==3.2.0
setuptools==40.8.0
six==1.11.0	1.16.0
threadpoolctl==3.1.0
typing-extensions==4.2.0

